@import "tailwindcss";
@plugin "daisyui";

/* styles/globals.css */
:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
  color: #0f172a;
  background-color: transparent;
}
